.wrapper {
  position: relative;

  min-width: 500px;
}

.multi {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  background-color: antiquewhite;
  color: black;
}
.options {
  width: 80%;
  background-color: white;
  color: black;
  padding: 10px;
  position: absolute;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
}

.multi:focus {
  outline: none;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.selectedValues {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.selectedValue {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  background-color: lightcyan;
  border-radius: 5px;
  color: black;
  font-size: small;
}

.search:focus {
  outline: none;
}

.values {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5px;
}

.valueWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.active {
  background-color: lightblue;
}

.tagWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.cross {
  cursor: pointer;
}
