.navbar {
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.elements {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.leftElements {
  display: flex;
  align-items: center;
  flex: 5;
  gap: 50px;
}

img {
  width: 50px;
  height: 50px;
}

details {
  display: flex;
  align-items: center;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  font-size: small;
  font-weight: semi-bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.rightElements {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 5;
}
.search {
  flex: 7;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 3px;
  padding-left: 10px;
  background-color: rgb(245 245 246);
}

.icons {
  display: flex;
  gap: 20px;
  flex: 3;
  justify-content: end;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
}
input:focus {
  outline: none;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: small;
  justify-content: center;
  align-items: center;
}

.icon p {
  margin: 0;
  font-size: smaller;
}
.logo {
  cursor: pointer;
  color: red;
}
